body {
    background-color: rgb(228, 237, 247);
    font-family: Verdana, Tahoma, sans-serif;
    box-sizing: border-box;
}

.card {
    background-color: white;
    width: 500px;
    margin: 30px auto;
    padding: 8px;
}

.logo {
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;

    /*margin: 16px 0 0 16px*/
    
}

.title {
    background-color: rgb(136, 200, 252);
    padding: 8px;
    margin: 0 auto;
    text-align: center;
}

.description{
    background-color: rgb(136, 200, 252);
    padding: 8px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.content {
    background-color: rgb(136, 200, 252);
    margin-right: auto;    
    margin-left: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;

}
